---
layout: default
title: דף הבית
alert: שלום חברים יקרים! אתר הסולם עובר שינויים ובקרוב יחזור לפעילות שלמה. לשאלות ומשובים פנו אלינו לדואר <a href="mailto:hasulam.site@gmail.com">hasulam.site@gmail.com</a>.
---
    {% if page.alert %}
        <section class="section site-alert border-top bg-warning container-fluid">
            <section class="row">
                <a name="alert"></a>
                <h1 class="section-title">הודעה חשובה</h1>
                <blockquote class="lead">{{ page.alert }}</blockquote>
            </section>
        </section>
    {% endif %}

    <section class="section border-top">
        <a name="live"></a>
        <h1 class="section-title">שידור חי</h1>
        {% include broadcast/live-broadcast.html %}
    </section>

    <section class="section border-top">
        <a name="contact"></a>
        <h1 class="section-title">יצירת קשר</h1>
        <div class="col-sm-8">
            {% include contact-form.html %}
        </div>
        <div class="col-sm-4">
            <h2>קשר עם הסולם</h2>
            ...
        </div>
    </section>


<!--

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>-->
