---
layout: default
title: דף הבית
alert: שלום חברים יקרים! אתר הסולם עובר שינויים ובקרוב יחזור לפעילות שלמה. לשאלות ומשובים פנו אלינו לדואר <a href="mailto:hasulam.site@gmail.com">hasulam.site@gmail.com</a>.
---
    {% if page.alert %}
        <section class="section site-alert border-top bg-warning container-fluid">
            <section class="row">
                <a name="alert"></a>
                <h1 class="section-title">הודעה חשובה</h1>
                <blockquote class="lead">{{ page.alert }}</blockquote>
            </section>
        </section>
    {% endif %}

    <section class="section border-top">
        <a name="live"></a>
        <h1 class="section-title">שידור חי</h1>
        {% include broadcast/live-broadcast.html %}
    </section>

    <section class="section border-top">
        <a name="contact"></a>
        <h1 class="section-title">יצירת קשר</h1>
        <div class="col-md-6 col-sm-12 col-xs-12">
            {% include contact-form.html %}
        </div>
        <div class="clearfix visible-sm"></div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <h3 class="font-light">הרשמה לרשימת התפוצה</h3>
            <div id="wufoo-s1ewnon50s5i4y0">
                <a href="https://hasulam.wufoo.com/forms/s1ewnon50s5i4y0">הרשמו לקבלת הניוזלטר שלנו</a>.
            </div>
            <script type="text/javascript">var s1ewnon50s5i4y0;(function(d, t) {
                var s = d.createElement(t), options = {
                    'userName':'hasulam',
                    'formHash':'s1ewnon50s5i4y0',
                    'autoResize':true,
                    'height':'340',
                    'async':true,
                    'host':'wufoo.com',
                    'header':'show',
                    'ssl':true};
                s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'wufoo.com/scripts/embed/form.js';
                s.onload = s.onreadystatechange = function() {
                    var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                    try { s1ewnon50s5i4y0 = new WufooForm();s1ewnon50s5i4y0.initialize(options);s1ewnon50s5i4y0.display(); } catch (e) {}};
                var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
            })(document, 'script');</script>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <h3 class="font-light">הסולם בכל מקום</h3>
            <div class="list-group">
                <a href="/branches" class="list-group-item">
                    <h4 class="list-group-item-heading">בתי הסולם ברחבי הארץ</h4>
                    <p class="list-group-item-text">קהילת הסולם פורסת רשת בתי הסולם ברחבי הארץ.
                        בתי הסולם עוסקים בלימוד הזוהר הקדוש עם פירוש הסולם.
תוכלו להגיע לבית הסולם הקרוב לביתכם ללמוד ולהשתתף בפעילויות שונות במקום.
                    </p>
                </a>
                <a href="http://facebook.com/hasulams" class="list-group-item">
                    <h4 class="list-group-item-heading">הסולם בפייסבוק</h4>
                    <p class="list-group-item-text">הצטרפו לעדכוני הפייסבוק ותרגישו קרובים יותר לחיי הקהילה</p>
                </a>
                <a href="http://youtube.com/user/hasulammedia" class="list-group-item">
                    <h4 class="list-group-item-heading">צפו בשיעורים יום-יום</h4>
                    <p class="list-group-item-text">
                        מדי יום אנו מעלים שיעוררי תורה בנושאים שונים. תוכלו לצפות בכל השיעורים בערוץ ה-YouTube שלנו.
                    </p>
                </a>
            </div>
        </div>
    </section>


<!--

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>-->
