---
layout: default
title: דף הבית
alert: שלום חברים יקרים, עקב תקלה טכנית אתר הסולם ומרכז הלימודי אינם זמינים כעת. אנו עושים את מיטב מאמצינו כדי לפתור את הבעיות.
---
    {% if page.alert %}
        <section class="site-alert row">
            <p class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 lead">{{ page.alert }}</p>
        </section>
    {% endif %}

    <h1 class="section-title text-center container-fluid">שידור חי</h1>
    {% include broadcast/live-broadcast.html %}


<!--

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>-->
