{% include head.html %}

<body class="{{ page.body_class }}">
    <section class="site">

        <header class="hat container-fluid">
            <h1>
                <span class="basad">בס״ד</span>
                <a class="logo" href="/" name="logo">
                    <img class="img-circle" src="img/ui/logo-lite-blue.png" />
                </a>
                {{ site.name }}
                <small>
                    {% if page.description %}
                    {{ page.description }}
                    {% else %}
                    {{ site.description }}
                    {% endif %}
                </small>
            </h1>
            {% include nav.html %}
        </header>