
// SITE WRITING DIRECTION
// Setup the two following vars to affect bootstrap grid system
$dir        : right;
$dir-rvrs   : left;

// Typography overrides
$font-family-sans-serif : NarkisTam, HelveticaNeue, Helvetica, Arial, sans-serif;

//
$master-gutter : 10px;
