@import 'typography/font-almoni-dl';
//@import 'typography/font-narkistam';

// Font weights
$f-light        : 300;
$f-normal       : 400;
$f-bold         : 700;
$f-black        : 900;

.section-title {
    font-weight: $f-black;
    margin-bottom: $master-gutter * 2;
}