<script src="http://jwpsrv.com/library/cSNwFLYAEeODIiIACi0I_Q.js"></script>
<script src="http://jwpsrv.com/library/cSNwFLYAEeODIiIACi0I_Q.js"></script>

<section>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div id='playerbRVjYhVJeZaS'></div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div>
                <script language="JavaScript" type="text/javascript" src="http://www.rumbletalk.com/client/?D:QZUvL*"></script>
            </div>
        </div>
    </div>
</section>

<script type='text/javascript'>
    jwplayer('playerbRVjYhVJeZaS').setup({
        file: 'rtmp://broadcast.hasulam.co.il/live/course',
        image: 'http://hasulam.co.il/img/ui/no-broadcast.jpg',
        title: 'קורס — שידור חי',
        width: '100%',
        aspectratio: '16:9',
        autostart: 'true'
    });
</script>