<script src="http://jwpsrv.com/library/cSNwFLYAEeODIiIACi0I_Q.js"></script>

        <section>
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div id='playerfHicuXBiQhqu'></div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <script language="JavaScript" type="text/javascript" src="http://www.rumbletalk.com/client/?D:QZUvL*"></script>
                </div>
            </div>
        </section>

<script type='text/javascript'>
    jwplayer('playerfHicuXBiQhqu').setup({
        file: '{{ site.main_broadcast_url }}',
        image: '/img/ui/no-broadcast.jpg',
        title: 'שידור חי מאתר הסולם',
        width: '100%',
        aspectratio: '16:9',
        autostart: 'true'
    });
</script>
